@use "~@ly-js/theme-chalk/mixins/config" as *;
@use "~@ly-js/theme-chalk/mixins/mixins" as *;

@include b(loading) {
  position: relative;
  font-size: 0;
  vertical-align: middle;
  @include e(spinner) {
    display: inline-block;
    position: relative;
    width: var(--van-loading-spinner-size);
    max-width: 100%;
    height: var(--van-loading-spinner-size);
    max-height: 100%;
    animation: van-rotate var(--van-loading-spinner-animation-duration) linear infinite;
    vertical-align: middle;

    @include m(spinner) {

      animation-timing-function: steps(12);
    }

    @include m(circular) {
      animation-duration: 2s;
    }
  }
}

@keyframes ly-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}
